*{
    margin: 0;
    padding: 0;
}
body{
   font-family: cursive;
}
li{
list-style-type: none;
}
ul{
display: flex;
justify-content:center;
gap: 50px;  
}
h1{     
    
    color:rgb(31, 108, 139);
    width: 30px;

}
.yy{
    color: whitesmoke;
    background-color:rgb(108, 202, 108);
  
    width: 90px;
}
.oo{
    background-color: #f2f2f2;
border-radius: 5px;
font-weight: 700;
margin-left:100px;
width: ;
height: 50px;

}
nav{
    display: flex;
    justify-content: space-around;
}
.main{
    padding-left: 50px;
    display: flex;
}
.i{
    font-size: xxx-large;
    
}
.r{
    font-size: large;
    width:50%;
}
span{
    color:rgb(6, 58, 78);
}
button{
    background-color: purple;
    color: white;
    font-size: large;
width: 150px;
height: 40px;
margin-top: 20px;
border-radius: 6px;
}
.pp{
    display: block;
    size: 100px;

}

